<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
    {% if user.is_authenticated %}
        <form action="{% url 'accounts:logout' %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button type="submit">
                Logout
            </button>
        </form>
    {% else %}
        <a href="{% url 'accounts:login' %}">Login</a>
    {% endif %}
    </header>

    {% block content %}
    {% endblock %}
</body>
</html>