{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'assets/style.css' %}"/>
</head>
<body>
    <form method="post" class="login-form login-form-a" >
        <h1>Login</h1>
        {% csrf_token %}
        {{ form.as_p }}
        <div>
            <button class="submit-btn" type="submit">Login</button>
        </div>
        <div class="sign-up">
            <button class="submit-btn" id="submit-btn" type="button" onclick="window.location.href='{% url 'accounts:register' %}'">Signup</button>
        </div>

    </form>

    <script src="{% static 'assets/main.js' %}"></script>
</body>
</html>